<div class="bar bar-header bar-positive">
  <button class="button icon-left ion-chevron-left button-positive" ui-sref="tabs.learnerVoice">Back</button>
  <div class="h1 title">You Said, We Did</div>
</div>
<ion-view title="Feedback" id="page3" style="background-color:#E8E8E8">
    <ion-content padding="true" class="has-header">
        <form  class="addShadow">
        <ion-list id="feedback-list1">
            <ion-checkbox ng-model="showFilters.checked">Show Filters</ion-checkbox>
            <ion-checkbox ng-model="checkbox.checked" ng-repeat="checkbox in checkboxes" ng-if="showFilters.checked">{{checkbox.name}}</ion-checkbox>
        </ion-list>
        </form>
        <div class="spacer" style="width: 300px; height: 11px;"></div>
        <ion-list id="feedback-list2">
            <ion-item class="item-thumbnail-left" id="feedback-list-item7" ng-repeat="item in feedback" ng-if="(checkboxes[item.type].checked===true)">
                <img src="img/ZCMCEnpbRCqaFqvVYUnT_DerbySU.png">
                <h2>{{item.title}}</h2>
                <p style="white-space:normal;">
                    <span class="timedate_small">{{item.date}}</span>
                    <br>{{item.description}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
