<ion-view title="Learner Voice" id="page8">
    <ion-content padding="true" class="has-header">
        <ion-list id="learnerVoice-list4">
            <ion-item class="item-thumbnail-left item-icon-right" id="learnerVoice-list-item14" ui-sref="tabs.currentDiscussions">
                <h2>Current Topics</h2>
                <p style="white-space:normal;">These topics are currently in discussion.</p>
                <i class="icon ion-android-arrow-forward icon-accessory"></i>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="learnerVoice-list-item16">
                <h2>Closed Topics</h2>
                <p style="white-space:normal;">These discussions have been closed and up for actioning</p>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right" id="learnerVoice-list-item15" ui-sref="tabs.feedback">
                <h2>Feedback</h2>
                <p>You Said, We Did!</p>
                <i class="icon ion-arrow-right-c icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>