<ion-view title="My Account" hide-nav-bar="true" cache-view="false" id="page4" style="background-color:#4C70F7;" class="myAccountPage">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="profile-image">
            <img src="img/3ZVcSuTCQDSoHNjG4btM_Photo.jpg" width="40%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h3 id="myAccount-heading3" style="color:#FFFFFF;font-weight:300;text-align:center;">Mark Rugman</h3>
        <ion-list id="myAccount-list3" class="manual-list-fullwidth">
            <ion-item class="item-icon-left  account-item" id="myAccount-list-item8">
                <i class="icon ion-ios-person-outline"></i>My Profile</ion-item>
            <ion-item id="myAccount-list-item9" class="account-item">Item 2</ion-item>
            <ion-item id="myAccount-list-item10" class="account-item">Item 3</ion-item>
        </ion-list>
        <button id="myAccount-button2" class="button button-assertive  button-block">Sign out</button>
    </ion-content>
</ion-view>