<div class="bar bar-header bar-positive">
  <div class="h1 title">NUS Extra Card</div>
  <a class="button icon-right ion-chevron-right button-positive" href="http://cards.nusextra.co.uk/">Apply</a>
</div>
<ion-view title="NUS extra Card" id="page7" style="background-color:#E8E8E8">
    <ion-content padding="true" class="has-header">
      <div style="margin-left:-10px; width: calc(100% + 20px); margin-top:-10px">
        <img src="img/NUS-Pic-banner.jpg" style="width:100%; height:auto" />
      </div>

    </ion-content>
</ion-view>
