<ion-view title="Splashscreen" hide-nav-bar="true" hide-back-button="true" cache-view="false" nav-transition="none" id="page5" class="transBackground">
    <ion-content padding="true" style="background: url(img/7yaCb7PcThqLQYI34YpK_13319957_10153790697718867_7280129660505877926_n-e1465560296656.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
        <div class="spacer" style="width: 300px; height: 242px;"></div>
        <div>
            <center>
                <ion-spinner icon="lines" class="ion-spinner"></ion-spinner>
            </center>
        </div>
    </ion-content>
</ion-view>